<!DOCTYPE html>
<html>
  <head>
    <title>Bt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <%= link_to 'new post', new_post_path, class: 'navbar-brand' %>
  </nav>
    <%= yield %>
  </body>
</html>
